<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Livros</title>
    <link rel="stylesheet" type="text/css" href="/css/book/livro.css">
</head>
<body>
<div class="navbar">
    <a href="/" class="home">Biblioteca</a>
    <ul>
        <li><a href="/usuario">Usuários</a></li>
        <li><a href="/endereco">Endereços</a></li>
        <li><a href="/livro">Livros</a></li>
        <li><a href="/emprestimos">Empréstimos</a></li>
    </ul>
</div>

<div class="main-content">
    <h1>Livros</h1>

    <div class="action-buttons">
        <!-- Botão para redirecionar ao formulário de cadastro -->
        <a href="/livro/formulario">
            <button type="button" class="btn-novo-usuario">Novo Livro</button>
        </a>

        <!-- Formulário de busca por ID -->
        <form th:action="@{/livro/buscar}" method="get" class="search-form">
            <label for="livroId">Buscar por ID:</label>
            <input type="text" id="livroId" name="livroId">
            <button type="submit" class="btn-buscar">Buscar</button>
        </form>

        <a href="/livro">
            <button type="button" class="btn-mostrar-todos">Mostrar Todos</button>
        </a>
    </div>

    <div class="content-wrapper">
        <div class="grid-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Ano de Publicação</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="livro : ${livro}">
                    <td th:text="${livro.livroId}"></td>
                    <td th:text="${livro.titulo}"></td>
                    <td th:text="${livro.autor}"></td>
                    <td th:text="${livro.anoPublicacao}"></td>
                    <td>
                        <!-- Botão de atualizar -->
                        <form th:action="@{/livro/atualizar/{id}(id=${livro.livroId})}" method="get" style="display:inline;">
                            <button type="submit" class="btn-atualizar">Atualizar</button>
                        </form>
                        <!-- Botão de apagar -->
                        <form th:action="@{/livro/apagar/{id}(id=${livro.livroId})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn-apagar">Apagar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
