<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empréstimos</title>
    <link rel="stylesheet" type="text/css" href="/css/loan/emprestimo.css">
</head>
<body>
<div class="navbar">
    <a href="/" class="home">Biblioteca</a>
    <ul>
        <li><a href="/usuario">Usuários</a></li>
        <li><a href="/endereco">Endereços</a></li>
        <li><a href="/livro">Livros</a></li>
        <li><a href="/emprestimos">Empréstimos</a></li>
    </ul>
</div>

<div class="main-content">
    <h1>Empréstimos</h1>

    <div class="action-buttons">
        <a href="/emprestimos/novo">
            <button type="button" class="btn-novo-usuario">Novo Empréstimo</button>
        </a>

        <!-- Formulário de busca por ID -->
        <form th:action="@{/emprestimos/buscar}" method="get" class="search-form">
            <label for="usuarioId">Buscar por ID:</label>
            <input type="text" id="usuarioId" name="usuarioId">
            <button type="submit" class="btn-buscar">Buscar</button>
        </form>

        <!-- Botão para mostrar todos os usuários -->
        <a href="/emprestimos">
            <button type="button" class="btn-mostrar-todos">Mostrar Todos</button>
        </a>
    </div>

    <div class="content-wrapper">
        <div class="grid-container scrollable-container">
            <table>
                <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Livro</th>
                    <th>Data Inicial</th>
                    <th>Data Final</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emprestimo : ${emprestimos}">
                    <td th:text="${emprestimo.nomeCompletoUsuario}"></td>
                    <td th:text="${emprestimo.tituloLivro}"></td>
                    <td th:text="${emprestimo.dataInicial}"></td>
                    <td th:text="${emprestimo.dataFinal}"></td>
                    <td>
                        <a th:href="@{'/emprestimos/editar/' + ${emprestimo.getId()} }">
                            <button class="btn-atualizar">Atualizar</button>
                        </a>
                        <form action="/emprestimos/deletar" method="post" style="display:inline;">
                            <input type="hidden" name="id" th:value="${emprestimo.id}" />
                            <button type="submit" class="btn-apagar">Apagar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
