<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Empréstimo</title>
    <link rel="stylesheet" type="text/css" href="/css/loan/formulario.css">
</head>
<body>

<div class="navbar">
    <a href="/index">
        <button type="button">Sistema de Biblioteca</button>
    </a>
    <ul>
        <li><a href="/usuario">Usuários</a></li>
        <li><a href="/endereco">Endereços</a></li>
        <li><a href="/livro">Livros</a></li>
        <li><a href="/emprestimos">Empréstimos</a></li>
    </ul>
</div>

<div class="container">
    <h1 class="mt-4 mb-4">Novo Empréstimo</h1>
    <form th:action="@{/emprestimos}" th:object="${emprestimoRequestDTO}" method="post">
        <div class="form-group">
            <label for="usuarioId">Usuário</label>
            <select class="form-control" id="usuarioId" th:field="*{usuarioId}" required>
                <option th:each="usuario : ${usuarios}" th:value="${usuario.usuarioId}" th:text="${usuario.nomeCompletoUsuario}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="livroId">Livro</label>
            <select class="form-control" id="livroId" th:field="*{livroId}" required>
                <option th:each="livro : ${livros}" th:value="${livro.livroId}" th:text="${livro.titulo}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="dataInicial">Data Inicial</label>
            <input type="date" class="form-control" id="dataInicial" th:field="*{dataInicial}" required>
        </div>
        <div class="form-group">
            <label for="dataFinal">Data Final</label>
            <input type="date" class="form-control" id="dataFinal" th:field="*{dataFinal}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <div class="mt-2">
        <a class="btn btn-secondary" th:href="@{/emprestimos}">Voltar</a>
    </div>
</div>
</body>
</html>
