<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualizar Usuário</title>
    <link rel="stylesheet" type="text/css" href="/css/user/formulario.css">
</head>
<body>
<h1>Atualizar Usuário</h1>

<form th:action="@{/usuario/atualizar/{id}(id=${usuario.usuarioId})}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nomeCompletoUsuario" th:value="${usuario.nomeCompletoUsuario}">

    <label for="email">Email:</label>
    <input type="email" id="email" name="emailUsuario" th:value="${usuario.emailUsuario}">

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senhaUsuario" th:value="${usuario.senhaUsuario}">

    <button type="submit">Atualizar</button>
</form>
</body>
</html>
