<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuários</title>
    <link rel="stylesheet" type="text/css" href="/css/user/usuario.css">
</head>
<body>
<div class="navbar">
    <h2>Sistema de Biblioteca</h2>
    <ul>
        <li><a href="/usuario">Usuários</a></li>
        <li><a href="/endereco">Endereço</a></li>
        <li><a href="/livro">Livros</a></li>
        <li><a href="/emprestimos">Empréstimos</a></li>
    </ul>
</div>

<div class="main-content">
    <h1>Lista de Usuários</h1>

    <!-- Botão para redirecionar ao formulário de cadastro -->
    <a href="/usuario/form">
        <button type="button">Cadastrar Novo Usuário</button>
    </a>

    <!-- Formulário de busca por ID -->
    <form th:action="@{/usuario/buscar}" method="get">
        <label for="usuarioId">Buscar por ID:</label>
        <input type="text" id="usuarioId" name="usuarioId">
        <button type="submit">Buscar</button>
    </form>

    <!-- Botão para mostrar todos os usuários -->
    <a href="/usuario">
        <button type="button">Mostrar Todos</button>
    </a>

    <div class="content-wrapper">
        <div class="grid-container">
            <table border="1">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.usuarioId}"></td>
                    <td th:text="${usuario.nomeCompletoUsuario}"></td>
                    <td th:text="${usuario.emailUsuario}"></td>
                    <td>
                        <!-- Botão de atualizar -->
                        <form th:action="@{/usuario/atualizar/{id}(id=${usuario.usuarioId})}" method="get" style="display:inline;">
                            <button type="submit">Atualizar</button>
                        </form>
                        <!-- Botão de apagar -->
                        <form th:action="@{/usuario/apagar/{id}(id=${usuario.usuarioId})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit">Apagar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
