<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Endereços</title>
    <link rel="stylesheet" type="text/css" href="/css/address/endereco.css">
</head>
<body>
<div class="navbar">
    <a href="/" class="home">Biblioteca</a>
    <ul>
        <li><a href="/usuario">Usuários</a></li>
        <li><a href="/endereco">Endereços</a></li>
        <li><a href="/livro">Livros</a></li>
        <li><a href="/emprestimos">Empréstimos</a></li>
    </ul>
</div>

<div class="main-content">
    <h1>Endereços</h1>

    <div class="action-buttons">
        <!-- Botão para redirecionar ao formulário de cadastro -->
        <a href="/endereco/form">
            <button type="button" class="btn-novo-usuario">Novo Endereço</button>
        </a>

        <!-- Formulário de busca por ID -->
        <form th:action="@{/endereco/buscar}" method="get" class="search-form">
            <label for="enderecoId">Buscar por ID:</label>
            <input type="text" id="enderecoId" name="enderecoId">
            <button type="submit" class="btn-buscar">Buscar</button>
        </form>

        <!-- Botão para mostrar todos os endereços -->
        <a href="/endereco">
            <button type="button" class="btn-mostrar-todos">Mostrar Todos</button>
        </a>
    </div>

    <div class="content-wrapper">
        <div class="grid-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Rua</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="endereco : ${enderecos}">
                    <td th:text="${endereco.enderecoId}"></td>
                    <td th:text="${endereco.rua}"></td>
                    <td th:text="${endereco.numeroCasa}"></td>
                    <td th:text="${endereco.bairro}"></td>
                    <td th:text="${endereco.cidade}"></td>
                    <td>
                        <!-- Botão de atualizar -->
                        <form th:action="@{/endereco/atualizar/{id}(id=${endereco.enderecoId})}" method="get" style="display:inline;">
                            <button type="submit" class="btn-atualizar">Atualizar</button>
                        </form>
                        <!-- Botão de apagar -->
                        <form th:action="@{/endereco/apagar/{id}(id=${endereco.enderecoId})}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn-apagar">Apagar</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
